header {
  padding: 10px;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
  position: fixed;
  z-index: 10;
  background-color: white;
  width: 100%;
}

header .header .headLogo {
  display: flex;
  align-items: center;
  gap: 0 5px;
  color: #dc4f72;
}
header .header .headLogo .logo {
  font-size: 30px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
header .headerNav {
  display: flex;
  gap: 0 25px;
}
header .home {
  color: #dc4f72 !important;
}
header .headerNav .navbar-nav .nav-item .nav-link {
  color: black;
}
header .headerNav .navbar-nav .nav-item a:hover {
  color: #dc4f72;
}
header .headerBtn {
  color: #dc4f72;
  background-color: white;
  outline: none;
  border-radius: 5px;
  border: 1px solid #dc4f72;
  width: 150px;
  transition: 0.5s;
}
header .headerBtn:hover {
  color: white;
  background-color: #dc4f72;
}
header .headerNav .navbar-nav .nav-item .nav-link {
  position: relative;
}
header .headerNav .navbar-nav .nav-item .nav-link::before {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background-color: #dc4f72 !important;
  position: absolute;
  bottom: 15%;
  transition: 0.5s ease;
}

header .headerNav .navbar-nav .nav-item .nav-link:hover::before {
  width: 20px;
}
/* .carousel {
  position: relative;
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel::before {
  content: "";
  background-image: url(./image/1.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.07;
  z-index: -1;
}
.carousel h1 {
  position: relative;
  color: black;
}
.carousel .carouselLeft {
  width: 550px;
}

.carousel .carouselRight {
  height: 100%;
}

.carousel .carouselRight img {
  height: 100%;
} */

.carousel {
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)),
    url(./image/1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.carousel-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-image img {
  width: 100%;
}

.carousel-image img {
  transform: rotate(180deg);
}

.my-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.text-header {
  text-align: center;
  margin-top: 5em;
}
.text-header h6 {
  color: #dc4f72;
}


.fullAbout {
  margin-top: 5em;
}

.fullAbout .about-image img {
  width: 100%;
}

/* .card-number {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  gap: 50px;
  transition: 0.2s;
}
.card-number .card:hover {
  box-shadow: 0px 9px 20px 2px rgb(0 0 0 / 40%);
}
.card-number .card .card-body h2 {
  color: #dc4f72;
  font-size: 70px;
} */

.card-number {
  margin-top: 5em;
}

.carousel-p2 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.33)
    ),
    url(./image/4.jpg);
  height: 500px;
  margin-top: 70px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel-p2 .commit {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  gap: 40px;
}
.carousel-p2 .commit h3 {
  color: white;
  font-weight: 700;
  font-size: 30px;
}
.carousel-p2 .commit p {
  color: white;
  font-size: 15px;
  font-weight: 500;
}
.carousel-p2 .p2Btn {
  color: black;
  outline: none;
  border-radius: 4px;
  border: 1px solid;
  width: 125px;
  height: 50px;
}
.side-group {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 1);
  border-bottom-left-radius: 5px;
  right: 0;
}
.side-group .forward {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem 0;
  width: 100%;
  border-bottom: 1px solid gray;
  color: gray;
}
.side-group .forward i {
  font-size: large;
}
.side-group .button-group {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.side-group .button-group .BtnGr {
  color: gray;
  background-color: transparent;
  border: 0;
  padding: 0.75rem;
}
.side-group .button-group .BtnGr:hover {
  color: white;
}
.side-group .forward:hover {
  color: white;
}

@media screen and (max-width: 1200px) {
  .side-group {
    display: none;
  }

  .infor-card > .row {
    gap: 10px;
  }

  .card-number .container .row {
    gap: 10px;
  }

  .carousel {
    padding-top: 90px;
  }
}
.carousel .carousel-lists .carouselBtn {
  color: #dc4f72;
  background-color: white;
  outline: none;
  border-radius: 5px;
  border: 1px solid #dc4f72;
  width: 125px;
  height: 50px;
  transition: 0.5s;
}
.carousel .carousel-lists .carouselBtn:hover {
  color: white;
  background-color: #dc4f72;
}
.infor-card .card {
  height: 30vh;
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition-duration: 0.5s;
  border: none;
}

.infor-card .card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infor-card .card:hover {
  background-color: white;
  box-shadow: 0px 9px 20px 2px rgb(0 0 0 / 40%);
  transform: translateY(-3px);
  transition-duration: 0.3s;
}
.infor-card .card .card-body .logo-card {
  font-size: 45px;
  color: #dc4f72;
  margin: 1rem 0;
  font-size: 4rem;
}

.fullAbout  .aboutBtn {
  background-color: #dc4f72;
  color: white;
  outline: none;
  border-radius: 4px;
  border: 1px solid #dc4f72;
  width: 125px;
  height: 50px;
  margin-top: 30px;
  transition: 0.5s;
}
.fullAbout .aboutBtn:hover {
  background-color: #d2204c;
}

.card-number .card:hover {
  box-shadow: 0px 9px 20px 2px rgb(0 0 0 / 40%);
}
.card-number .card .card-body h2 {
  color: #dc4f72;
  font-size: 70px;
}
